
body {
    font-family: monospace;
    font-weight: bold;
    font-size: 13px;
    color: black;
    overflow: hidden;
    text-overflow: ellipsis;
}

ul.nav > li.title {
    background-color: #d3d3d3;
}

ul.nav {
    height: 100%;
    margin: 0;
    padding: 0;
}

.title-text {
    text-transform: none;
    padding: 3px 7px;
    display: block;
    margin: 0;
}

.list {
    border-color: #d3d3d3;
    padding: 0;
    margin-bottom: 15px;
}

.well[ui-view] {
    height: 400px;
}

.ui-view-container {
    position: relative;
}

[ui-view].ng-enter, [ui-view].ng-leave {
    position: absolute;
    left: 0;
    right: 0;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

[ui-view].ng-enter {
    opacity: 0;
    -webkit-transform: scale3d(0.5, 0.5, 0.5);
    -moz-transform: scale3d(0.5, 0.5, 0.5);
    transform: scale3d(0.5, 0.5, 0.5);
}

[ui-view].ng-enter-active {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

[ui-view].ng-leave {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

[ui-view].ng-leave-active {
    opacity: 0;
    -webkit-transform: translate3d(100px, 0, 0);
    -moz-transform: translate3d(100px, 0, 0);
    transform: translate3d(100px, 0, 0);
}

.color-text {
    color: #008;
}

.align-center {
    text-align: center;
}

.thumbnails {
    margin-left: -20px;
    list-style: none;
}

.thumbnails > li {
    float: left;
    margin-bottom: 20px;
    margin-left: 20px;
}

#search {
    position: relative;
    font-size: 18px;
    padding-top: 25px;
    /* margin: -20px auto 0px; */
    margin-left: 40px;
}

#search label {
    position: absolute;
    left: 17px;
    top: 30px;
}

#search #search-input, #search .hint {
    padding-left: 43px;
    padding-right: 43px;
    border-radius: 23px;
}

.filter-box {
    padding-top: 35px;
}

.cover-image {

    width: 100%;
    height: 250px;
    background: url('../img/throbber.gif') no-repeat;
}

.book-info {
    padding: 10px;
}

footer {
    /*position: absolute;*/
    /*right: 0;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*padding: 1rem;*/
    background-color: #efefef;
}

header {
    background-color: rgb(16, 108, 200);
    color: rgba(255, 255, 255, 0.87);
}

.image-preview-container {
    height: 112px;
    border: solid 3px #3abdd9;
    width: 112px;
    border-radius: 100%;
    /*background: url("../img/avatar.jpg") no-repeat;*/
    background-size: 100% 100%;
    display: inline-block;
}